In [1]:
import pandas as pd

In [19]:
df_news = pd.read_csv("../src/data/analysed_analyst_ratings/sentiment_analysed_ratings.csv")

In [23]:
file_paths = {
    'Apple': '../src/data/yfinance_data/AAPL_historical_data.csv',
    'Amazon': '../src/data/yfinance_data/AMZN_historical_data.csv',
    'Google': '../src/data/yfinance_data/GOOG_historical_data.csv',
    'Meta': '../src/data/yfinance_data/META_historical_data.csv',
    'Microsoft': '../src/data/yfinance_data/MSFT_historical_data.csv',
    'Tesla': '../src/data/yfinance_data/TSLA_historical_data.csv',
    'Nvidia': '../src/data/yfinance_data/NVDA_historical_data.csv'
}

AAPL_data = pd.read_csv(file_paths['Apple'])
AMZN_data = pd.read_csv(file_paths['Amazon'])
GOOG_data = pd.read_csv(file_paths['Google'])
META_data = pd.read_csv(file_paths['Meta'])
MSFT_data = pd.read_csv(file_paths['Microsoft'])
NVDA_data = pd.read_csv(file_paths['Nvidia'])
TSLA_data = pd.read_csv(file_paths['Tesla'])

# Add a 'Stock' column to identify each dataset
AAPL_data['Stock'] = 'AAPL'
AMZN_data['Stock'] = 'AMZN'
GOOG_data['Stock'] = 'GOOG'
META_data['Stock'] = 'META'
MSFT_data['Stock'] = 'MSFT'
NVDA_data['Stock'] = 'NVDA'
TSLA_data['Stock'] = 'TSLA'

# Merge the data into one DataFrame
df_stock = pd.concat(
    [AAPL_data, AMZN_data, GOOG_data, META_data, MSFT_data, NVDA_data, TSLA_data],
    ignore_index=True
)

# Display the merged data
print("Merged Stock Data:")
df_stock.head()

Merged Stock Data:

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Stock
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,AAPL
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,AAPL
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,AAPL

In [21]:
print(df_news.shape)
df_news.head(2)

(1407328, 12)

,Unnamed: 0,headline,url,publisher,date,stock,headline_length,day_of_week,email_domain,cleaned_headline,sentiment_score,sentiment_label
0,0,Stocks That Hit 52-Week Highs On Friday,https://www.benzinga.com/news/20/06/16190091/s...,Benzinga Insights,2020-06-05 10:30:54-04:00,A,39,Friday,NaN,stocks hit 52week highs friday,0.0,neutral
1,1,Stocks That Hit 52-Week Highs On Wednesday,https://www.benzinga.com/news/20/06/16170189/s...,Benzinga Insights,2020-06-03 10:45:20-04:00,A,42,Wednesday,NaN,stocks hit 52week highs wednesday,0.0,neutral

In [24]:
print(df_stock.shape)
df_stock.head(2)

(45428, 10)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Stock
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL

Normalizing dates

In [32]:
# Ensure 'date' in news dataset is in datetime format and normalized to date only
df_news['date'] = pd.to_datetime(df_news['date']).dt.date

# Ensure 'Date' in stock dataset is in datetime format and normalized to date only
df_stock['Date'] = pd.to_datetime(df_stock['Date']).dt.date

# Display the first few rows of both datasets
print(df_news[['date', 'headline']].head())
print(df_stock[['Date', 'Close']].head())

         date                                           headline
0  2020-06-05            Stocks That Hit 52-Week Highs On Friday
1  2020-06-03         Stocks That Hit 52-Week Highs On Wednesday
2  2020-05-26                      71 Biggest Movers From Friday
3  2020-05-22       46 Stocks Moving In Friday's Mid-Day Session
4  2020-05-22  B of A Securities Maintains Neutral on Agilent...
         Date     Close
0  1980-12-12  0.128348
1  1980-12-15  0.121652
2  1980-12-16  0.112723
3  1980-12-17  0.115513
4  1980-12-18  0.118862

Calculate Daily Stock Returns

In [33]:
# Ensure stock data is sorted by date
df_stock = df_stock.sort_values(by='Date')

# Calculate daily returns as percentage change in closing prices
df_stock['daily_return'] = df_stock['Close'].pct_change()

# Drop the first row since it will have a NaN daily return
df_stock.dropna(subset=['daily_return'], inplace=True)

# Display the data with daily returns
print(df_stock[['Date', 'Close', 'daily_return']].head())

         Date     Close  daily_return
1  1980-12-15  0.121652     -0.052171
2  1980-12-16  0.112723     -0.073398
3  1980-12-17  0.115513      0.024751
4  1980-12-18  0.118862      0.028992
5  1980-12-19  0.126116      0.061029